<!DOCTYPE html>
<html lang="en-US" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SleepitOff | HostelBooking About</title>


    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/logo2.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/logo2.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/logo2.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/logo2.ico' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/logo2.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-5 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="/"><img src="{% static 'assets/img/lg.png' %}" height="30" alt="logo" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-lg-center align-items-start">
              <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="login">Login</a></li>
              <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="wardenlogin">Be Warden</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- <section> begin ============================-->
      <section class="pt-5" id="destination">

        <div class="container">
          <div class="position-absolute start-100 bottom-0 translate-middle-x d-none d-xl-block ms-xl-n4"><img src="{% static 'assets/img/dest/shape.svg' %}" alt="destination" /></div>
          <div class="mb-7 text-center">
            <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">About us</h3>
          </div>
          <h5>Welcome to SleepItOff Hostels, the ultimate destination for backpackers, adventurers, and nature lovers in Kerala. We are a family-run hostel located in the heart of Kanayannur, a charming town surrounded by lush greenery, serene backwaters, and vibrant culture.</h5>

          <h5>We started our hostel in 2020 with a simple vision: to provide a cozy, comfortable, and affordable place for travelers to explore the beauty and diversity of Kerala. Since then, we have hosted thousands of guests from all over the world, who have become our friends and family.</h5>

          <h5>Our hostel offers a range of accommodation options, from spacious dorms to private rooms, all with ensuite bathrooms, air-conditioning, and free Wi-Fi. We also have a common area with a TV, board games, books, and a guitar, where you can relax and socialize with other guests. Our rooftop terrace is the perfect spot to enjoy the stunning views of the town and the sunset, while sipping a cup of chai.</h5>

          <h5>We also organize daily activities and tours for our guests, such as yoga classes, cooking workshops, boat trips, hiking, cycling, and cultural events. Our friendly and knowledgeable staff can help you with any travel tips, bookings, or recommendations you may need. We also offer free breakfast, laundry service, luggage storage, and 24/7 security.</h5>

          <h5>At SleepItOff Hostel, we are more than just a place to sleep. We are a community of like-minded travelers who share a passion for discovering new places, meeting new people, and having fun. We invite you to join us and experience the best of Kerala with us. We look forward to welcoming you soon!</h5>
        </div><!-- end of .container-->

      </section>



      <div class="py-5 text-center">
        <p class="mb-0 text-secondary fs--1 fw-medium">All rights reserved@sleepitoff.co </p>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'vendors/@popperjs/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/is/is.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
  </body>

</html>