<!DOCTYPE html>
<html lang="en-US" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SleepitOff|user booings</title>

    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />
      <link href="{% static 'user/theme.css' %}" rel="stylesheet" />


    <script>

    </script>
            <style>
                  .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 8px;
        }

        .button:hover {
            background-color: #45a049; /* Darker Green */
            color: white;
        }
            </style>


</head>
  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-5 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="/"><img src="{% static 'assets/img/lg.png' %}" height="30" alt="logo" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-lg-center align-items-start">
                <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="home">Home</a></li>
              <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="../../../logout">Logout</a></li>

            </ul>
          </div>
        </div>
      </nav>
      <section style="padding-top: 7rem;">
        <div class="bg-holder" style="background-image:url({% static 'assets/img/hero/hero-bg.svg' %});">
        </div>
        <!--/.bg-holder-->

      <section class="pt-6">
          <div class="mb-7 text-left" >


            <div style="padding:40px;">
                    <h1>Your Bookings</h1>
<br>
                {% for i in r %}
                <p style="color:black;">Hostel Name: {{ i.hostel_name }}</p>
                <p style="color:black;">Room ID: {{ i.room_id }}</p>
                <p style="color:black;">Bed ID: {{ i.bed_id }}</p>
                <p style="color:black;">Amount per day: {{ i.bed_price_per_day }}</p>
                <p style="color:red;">Amount paid: {{ i.total_amount }}</p>
                <p style="color:blue;">Checkin date: {{ i.checkin_date }}</p>
                <p style="color:blue;">Checkin date: {{ i.checkout_date }}</p>
                {% endfor %}
            </div>
<form action="delete_and_archive_bookings" method="post">
    {% csrf_token %}
    <!-- Add your form fields here if needed -->
    <button type="submit" class="button">Cancel Booking</button>
</form>

              {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

          <div class="py-5 text-center">
          <p class="mb-0 text-secondary fs--1 fw-medium">All rights reserved@sleepitoff.com </p>
      </div>


    </main>

    <script src="{% static 'vendors/@popperjs/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/is/is.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
  </body>

</html>
