{
    margin:0;
    padding:0;
    font-family: 'Alfa Slab One',cursive;
}

.ff{
    display:flex;
    flex-wrap: wrap;

}

div{
  padding-right: var(--bs-gutter-x, 1rem);
  padding-left: var(--bs-gutter-x, 1rem);
  margin-right: auto;


.container1{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    padding;
    margin-top:8%;
}

.container1 .card{
    width:308px;
    position:relative;
    height:400px;
    background: #f0f0f0;
    margin:30px 10px;
    padding:20px 15px;
    display:flex;
    flex-direction: column;
    box-shadow: 0.5px 10px #e6e6e6;
    transition:0.3s ease-in-out;
    margin-top:5%;

    }

.container1 .card .imgBx{
        position: relative;
        width: 260px;
        height: 260px;
        top:-60px;
        Left: 20px;
        box-shadow: 0 5px 20px rbga(0,0,0,1.2);
}


.container1 .card
{
    max-width: 100%
    border-radius: 10px;
}

.imgBx:hover img{
    transform: scale(1.1)
}

.imgBx img{
        width: 260px;
        height: 260px;
        border-radius: 10px;

}